
/* Start of nav menu */
.header{
    border-bottom: 1px solid #2b2929;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #180347;
}
.hamburger{
    display: none;
}
.bar{
    display: block;
    width: 30px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    margin-left: 5rem;
}
.nav-link{
    font-size: 1.6rem;
    font-weight: 500;
    color: #752e65;
}
.nav-link:hover{
    color: #af238e;
}
.nav-logo{
    font-size: 2rem;
    font-weight: 700;
    color: #0a0ec2;
}
@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        right: -110%;
        top: 5rem;
        flex-direction: column;
        background-color: #333131;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.5s;
        z-index: 9999;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }

}

.active{
    background-color: #7878f5;
}
/* End nav menu */

/* Start of gallery section */
.gallery{
    line-height: 0;
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
    -webkit-column-gap: 5px;
    -moz-column-gap: 5px;
    column-gap: 5px;

}
.gallery:hover{
    border: none;
}
.gallery img{
    width: 100%;
    height: auto;
    margin-bottom: 5px;
    filter: grayscale(100%);
    transition: filter 2s;
}
.gallery img:hover{
    filter: none;
}
*{
    box-sizing: border-box;
}
.responsive{
    padding: 0 6px;
    float: left;

    width: 24.99999%;
}
@media only screen and (max-width: 1200px){
    .gallery{
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}
@media only screen and (max-width: 1000px){
    .gallery{
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}
@media only screen and (max-width: 800px){
    .gallery{
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
    .gallery img{
        filter: none;
    }
}
@media only screen and (max-width: 400px){
    .gallery{
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
    .gallery img{
        filter: none;
    }
}
.clearfix:after{
    content: "";
    display: table;
    clear: both;
}
/* End of gallery section */


@font-face{
    font-family: "Orbitron";
    src: url("Fonts/static/Orbitron-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}
body {
    background-image: url("stellar/trans_space_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    background-color: #000000;
    color: #ffffff;
    font-family: "Orbitron", sans-serif;
}
h1 {
    text-align: center;
    color: #752e65;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 1px;
}
h2 {
    text-align: center;
    color: #0439f9;
}
a {
    text-decoration: none;
}
li{
    list-style: none;
}
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #060606;
}

footer{
    color: #ffffff;
    text-align: center;
    padding: 10px;
    font-size: 15px;
}